@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    margin: 0;
    font-family: 'ZCOOL XiaoWei','Open Sans', sans-serif;
    box-sizing: border-box;
}
a{
    color: #000;
    text-decoration: none;
}
/* Shortcut Container */
.shortcut-container{
    margin: 1.5rem 0;
}
.container-fluid{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.box-container img {
    max-width: 100%;
    width: 100%
}
.box-container {
    background-color: #fff
}
.box-container .col1 a.first,.box-container .col2 a.first,.box-container .col3 a.first {
    margin-bottom: 20px
}
.box-containers .row {
    padding-left: 0;
    margin: 0;
    margin-top: 18px
}
.box-container .col1 {
    padding: 0;
    padding-right: 10px
}
.box-container .col2 {
    padding: 0 10px
}
.box-container .col3 {
    padding: 0;
    padding-left: 10px
}
.grayscale {
    filter: gray;
        -webkit-filter: grayscale(100%);
        -moz-transition: all .6s ease;
        -o-transition: all .6s ease;
        -webkit-transition: all .6s ease;
    transition: all .6s ease;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    display: block;
    overflow: hidden
}
.grayscale>img {
        -moz-transition: all .6s ease;
        -o-transition: all .6s ease;
        -webkit-transition: all .6s ease;
    transition: all .6s ease;
    margin: 0 auto;
    backface-visibility: hidden;
        -webkit-backface-visibility: hidden
}
.grayscale:hover {
    filter: none;
        -webkit-filter: grayscale(0)
}
.grayscale:hover>img {
    transform: scale(1.1)
}
.box-title-home{
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 50px;
    color: #fff;
    background-color: rgba(0,0,0,.4);
    padding: 0 20px;
}
.catalogue-box{
    width: 100%;
    left: 0;
    padding: 10px 0;
    text-align: center;
}
/* Featured */
.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.home-list{
    margin-top: 2rem;
}
.panel-heading{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #070205;
    text-shadow: 1px 1px #fff;
}
.panel-title h3 a{
    color: inherit;
}
/* Payment Methods and Promotions */
.panel{
    box-shadow: none;
}
.payment-methods{
    min-height: 4.5rem;
    display: block;
}
.panel.payment-methods {
    margin-top: 10px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 0
}
.payment-methods h2 span{
    background: #fff;
    padding: 0 10px;
}
.payment-methods h2{
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #aeaeae;
    line-height: .1em;
    margin: 10px 0 20px;
    font-size: 21px;
}
.payment-methods.payment-body{
    padding: 0;
}
.panel-body{
    border: 0;
    padding-left: 0;
    padding-right: 0
}
.info-container{
    margin-bottom: 0;
    background-color: #f5f5f5ba;
}
.info-container p,
.info-container a{
    font-family: 'Open Sans',sans-serif !important;
}
.info-container h3{
    text-align: center;
    text-shadow: 0 2px #fff;
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
}
.info-container.general-info>div, .info-container.instruction-help>div{
    min-height: 50px;
    width: 100%;
    padding-top: 0;
    padding-left: 50px;
    font-size: 2.2em;
    color: #444;
}
.info-container.general-info>div p, .info-container.instruction-help>div p{
    margin-bottom: 0;
    font-size: 21px;
}
.jumbotron{
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
.jumbotron p{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 200;
}
.jumbotron.row {
    padding-left: 20px;
    padding-right: 20px;
}
.container.jumbotron{
    border-radius: 6px;
}
.general-info{
    padding-left: 0;
    padding-right: 0;
}
.price{
    padding-left: 3.5rem;
}
.bi{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Contact Info */
.contact-info-container{
    margin-top: 30px;
    padding-right: 60px;
    padding-left: 60px;
}
h1.center-title{
    font-size: 1.8rem;
    text-align: center;
    padding-top: 20px;
    color: #363636;
    font-weight: 600;
}
.contact-info-container p{
    color: #555;
}
.font-size p{
    font-size: 1.5rem;
}
/* Newsletter */
.container{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto
}
.container.newsletter-container form {
    width: 100%;
    margin: 0 auto;
    border: 1px #eaeaea solid;
    border: 0;
    padding: 30px;
    margin-bottom: 40px;
    padding-top: 10px;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 5px;
    background-image: linear-gradient(to bottom,#f2f2f2 0,#f4f4f4 100%);
    background: url(/static/image/fondo_newsletter.png) 0 0 no-repeat
}
.container.newsletter-container form h3 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700
}
.container.newsletter-container form h4 {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 10px
}
.form-group{
    margin-bottom: 1rem;
}
.container.newsletter-container #email-newsletter{
    font-size: 1rem;
    padding: 1rem;
    height: auto;
}
input.email-form{
    border-radius: 0;
}
.email-form{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.container.newsletter-container #btn-newsletter{
    padding: 1rem;
    height: auto;
    margin-top: 10px;
    background-image: linear-gradient(to bottom,#4f9bd9 0,#326b99 100%);
}
.btn-default{
    color: #fff;
    text-shadow: 0 1px 0 #333;
    background-image: linear-gradient(to bottom,#8e8e8e 0,#989898 100%);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
    text-transform: uppercase;
    padding: 9px 10px 8px;
    border: none;
    font-family: 'open sans','sans-serif';
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
        -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* Keep buying */
.keep-buying-box{
    display: grid;
    gap: 1rem;
    padding: 1rem 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buying-box h3{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #cdcdcd;
    line-height: .1em;
    margin: 10px 0 20px;
    text-align: center;
}
.buying-box h3 span{
    background: #fff;
    padding: 0 10px;
}
.keep-buying-box a{
    max-height: 10rem;
    overflow: hidden;
    position: relative;
}
.keep-buying-box img{
    transition: transform .5s ease;
    max-width: 100%;
    width: 100%;
}
.keep-buying-box .box-title-home{
    left: 0;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
/* Facebook Page */
.facebook-page{
    margin-top: 20px;
}
.facebook-page img{
    width: 100%;
}
/* Footer */
footer{
    width: 100%;
    background-color: #000;
    font-size: 1.8rem;
}
.colophon {
    background: linear-gradient(to bottom,#000 0%,#542d2e 99%);
}
.theme-color{
    background-color: #000;
}
.site-info{
    color: #999;
    font-size: 1rem;
    max-width: 100rem;
    margin: 0 auto;
    min-height: 1.5rem;
}
.data_fiscal {
    padding-top: 0.9rem;
    text-align: center;
    background-color: #f7f7f7;
    padding-bottom: 1.1rem;
    display: inline-block;
}
.data-fiscal img{
    width: 100%;
    height: auto;
    max-width: 100px;
    margin-top: 1px;
}
.data-fiscal img.personal-data{
    width: 68%;
    height: auto;
    max-width: 20rem;
}